@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

/* Universal styles */

body {
  background-color: hsla(0, 0%, 22%, 1);
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  max-width: 720px;
}

header i {
  color: white;
  padding-right: 20px;
}

h2 {
  font-family: Montserrat;
  color: white;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}

p {
  text-align: center;
  margin-block: 0;
  font-family: Montserrat;
  color: white;
}

footer {
  text-align: center;
  height: 60px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 24px;
  display: block;
  width: 100%;
  padding: 20px 50px;
}

nav ul li i {
  position: absolute;
  top: 15px;
  left: 10px;
  cursor: pointer;
}

/* Header Section */
.hide-mobile {
  display: none;
}

nav ul {
  position: fixed;
  width: 30%;
  top: 0;
  right: 0;
  text-align: left;
  background: rgb(36, 41, 44);
  height: 100%;
  z-index: 10;
  opacity: 0.8;
  padding-top: 50px;
}

/* Hero Section */

.hero-section {
  max-width: 720px;
  margin: auto;
}

.hero h1 {
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  color: white;
}

.hero-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.hero h1 span {
  color: hsla(54, 100%, 47%, 1);
}

.cta-work {
  width: 90px;
  margin-bottom: 10px;
  border: 1px solid hsla(54, 100%, 47%, 1);
  background-color: hsla(0, 0%, 0%, 0);
  font-family: Montserrat;
  color: hsla(54, 100%, 47%, 1);
  border-radius: 5px;
  padding: 2px 5px;
}
.cta-contact {
  width: 90px;
  border: 1px solid hsla(0, 0%, 90%, 1);
  background-color: hsla(0, 0%, 0%, 0);
  font-family: Montserrat;
  color: hsla(0, 0%, 90%, 1);
  border-radius: 5px;
  padding: 2px 5px;
}

.avatar {
  float: right;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-image: url("./resources/self-portrait.png");
  background-size: cover;
  margin-top: 25px;
  overflow: hidden;
}

/* Skills Section */

.skills-section {
  background: linear-gradient(
    90.34deg,
    rgba(91, 91, 91, 0.32) 0.72%,
    rgba(91, 91, 91, 0.94) 49.9%,
    rgba(91, 91, 91, 0.32) 98.56%
  );
  border-radius: 20px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.skills h2 {
  margin-top: 40px;
}

.skills {
  max-width: 720px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills article {
  background-color: hsla(0, 0%, 22%, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  max-width: 300px;
  padding: 20px;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
}

.skills article h3 {
  color: hsla(54, 100%, 47%, 1);
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
}

.skills article p {
  font-family: Montserrat;
  color: white;
  font-size: 1rem;
}

.skills-icons {
  width: 340px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 80px 0;
}

/* Project Showcase Section */

.showcase-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding-top: 20px;
}

.showcase {
  background-color: hsla(0, 0%, 22%, 1);
  z-index: 3;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.showcase article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: hsla(0, 0%, 36%, 0.74);
  margin: 20px 0;
  max-width: 320px;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
}

.showcase article img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.showcase article p {
  padding: 20px 0;
  text-align: center;
}

.image-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  background-color: hsla(0, 0%, 22%, 1);
}

footer span {
  font-family: Montserrat;
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
  margin-bottom: 20px;
}

footer i {
  color: white;
}

hr.footer-line {
  border-top: 1px solid hsla(54, 100%, 47%, 1);
  border-bottom: none;
}

/* Media Query - Large Phones */

@media only screen and (min-width: 560px) {
  .hero h1 {
    font-size: 36px;
  }

  .avatar {
    height: 260px;
    width: 250px;
  }

  .cta-work,
  .cta-contact {
    width: 150px;
    padding: 10px 20px;
    font-size: 18px;
  }
}

/* Media Query - Tablets and Large Phones */

@media only screen and (min-width: 700px) {
  body {
    margin: auto;
  }

  .skills {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(8, 1fr);
    gap: 20px;
    margin: auto;
  }

  .skills article {
    height: 80%;
  }

  .design-article {
    grid-row: 1 / 2;
    grid-column: 1 / span 4;
  }

  .build-article {
    grid-row: 1 / 2;
    grid-column: 5 / span 4;
  }

  .maintain-article {
    grid-row: 2 / 3;
    grid-column: 1 / span 4;
  }

  .sell-article {
    grid-row: 2 / 3;
    grid-column: 5 / span 4;
  }

  .skills-icons {
    padding-top: 30px;
  }

  .showcase {
    display: grid;
    grid-template: repeat(2, 320px) / repeat(6, 1fr);
    gap: 20px;
    align-items: stretch;
    justify-content: stretch;
    margin-bottom: 20px;
    margin: 20px;
  }

  .showcase article {
    max-width: 100%;
    margin: 0;
  }

  .project-1 {
    grid-row: 1 / 2;
    grid-column: 1 / span 3;
  }

  .project-2 {
    grid-row: 1 / 2;
    grid-column: 4 / span 3;
  }

  .project-3 {
    grid-row: 2 / 3;
    grid-column: 1 / span 3;
  }

  .project-4 {
    grid-row: 2 / 3;
    grid-column: 4 / span 3;
  }
}

@media only screen and (min-width: 1100px) {
  .skills {
    max-width: 1200px;
    margin: 20px;
  }

  /* Nav Section */
  .show-desktop {
    display: flex;
    justify-content: space-between;
  }

  .hide-desktop {
    display: none;
  }

  header {
    max-width: 1200px;
  }

  nav {
    width: 50%;
  }

  nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    padding-top: 0;
  }

  nav ul li {
    padding-right: 20px;
  }

  nav ul li a {
    text-align: right;
    padding: 0;
  }

  /* Hero Section */

  header {
    max-width: 1200px;
  }

  .hero-section {
    max-width: 1200px;
    padding-right: 20px;
  }

  .hero h1 {
    font-size: 4.5rem;
  }

  .cta-work,
  .cta-contact {
    width: 250px;
    font-size: 1.5rem;
  }

  .cta-work {
    margin-bottom: 20px;
  }

  .avatar {
    height: 450px;
    width: 450px;
    margin-top: 70px;
  }

  /* Altered Skills Grid */

  .design-article {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
  }

  .build-article {
    grid-row: 1 / span 2;
    grid-column: 3 / span 2;
  }

  .maintain-article {
    grid-row: 1 / span 2;
    grid-column: 5 / span 2;
  }

  .sell-article {
    grid-row: 1 / span 2;
    grid-column: 7 / span 2;
  }

  /* Altered Project Grid */

  .showcase {
    max-width: 1200px;
  }

  .project-1 {
    grid-row: 1 / 2;
    grid-column: 1 / span 2;
  }

  .project-2 {
    grid-row: 2 / 3;
    grid-column: 1 / span 2;
  }

  .project-3 {
    grid-row: 1 / 3;
    grid-column: 3 / span 2;
  }

  .project-4 {
    grid-row: 1 / 3;
    grid-column: 5 / span 2;
  }
}
